DATABASE_URL=postgresql://postgres:<password>@localhost:5432/dino?sslmode=disable
OPEN_AI_KEY=
N8N_MARKING_WEBHOOK_URL=https://n8n.mr-salih.org/webhook/ai-marking
AI_MARK_WEBHOOK_URL=
MARKING_QUEUE_SECRET=
COOKIE_DOMAIN=
NODE_ENV=development
